<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Boletin informativo</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Links Útiles</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://raguide.github.io">Econ RA Guide</a></li>
            <li><a target="blank" href="https://predoc.org/opportunities">PREDOC org</a></li>
            <li><a target="blank" href="https://peacehdforphd.com/en/the-phd-experience/phd-support-groups/">PeacehD</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recomendaciones</span></h5>
           <a href="https://econthaki.github.io/talleres1" title="Visita la página de nuevos talleres"><img src="{{ site.baseurl }}/assets/images/logo.png" alt="Visita la página de nuevos talleres" /></a>
        </div>
            
</div>