<div class="sidebar">

            
            
        <div class="sidebar-section">
            <h5><span>Links Útiles</span></h5>
            <ul style="list-none;">
            <li><a target="blank" href="https://econthaki.surveycto.com/collect/eaie_2021?caseid=">Encuesta de Asistentes de Investigación en Economía en LAC (Recurrente)</a></li>
            <li><a target="_blank" href="https://econthaki.github.io/Guia-PhD-EconThaki/">Guía para aplicar al PhD de Economía (Perú)</a></li>                
            <li><a target="_blank" href="https://econthaki.github.io/recursos/2021/01/06/pregfreq.html">Preguntas Frecuentes</a></li>
            <li><a target="blank" href="https://econthaki.github.io/contact.html">Contacto</a></li>
            </ul>
        </div>

         <div class="sidebar-section">
            <h5><span>Boletín Electrónico</span></h5>
            {% include newsletter.html %}
        </div>
            
</div>
